.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.coverSection{
    position: relative;
    width: 100%;

    h1{
        font-family: 'Libre Bodoni', serif;
        font-size: 2.5rem;
        letter-spacing: 0.01em;
        line-height: 3rem;
    }
    
    p{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.125rem;
    }

    .coverPanel1{
        position: relative;
        width: 100%;

        img{
            width: 55%;
            height: auto;
        }

        .coverText{
            position: absolute;
            top: 10%;
            left: 51%;
        }
    }

    .coverPanel2{
        width: 47%;
        position: absolute;
        right: 0;
        bottom: 0;

        img{
            width: 100%;
            height: auto;
        }

        .coverText{
            position: absolute;
            top: 83%;
            left: 5%;
            color: #fff;
        }
    }

    .carousel{
        margin-top: 13%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 728px) {
    .coverSection{
        h1{
            font-size: 2.5rem;
        }

        p{
            font-size: 1.4rem;
        }

        .coverPanel1{
            img{
                width: 100%;
                height: auto;
            }

            .coverText{
                position: relative;
                bottom: 50px;
                left: 5%;
            }
        }

        .coverPanel2{
            width: 75%;
            position: static;
            margin-top: 1.5rem;
    
            img{
                width: 100%;
                height: auto;
            }
    
            .coverText{
                position: relative;
                bottom: 50px;
                left: 50%;
                color: #000;
            }
        }

        .carousel{
            margin-top: 13%;
        }
    
    }

}

@media screen and (max-width: 500px) {
    .coverSection{
        h1{
            font-size: 1.75rem;
        }

        p{
            font-size: 1rem;
        }

        .coverPanel1{
            .coverText{
                bottom: 45px;
                left: 5%;
            }
        }

        .coverPanel2{
            .coverText{
                left: 35%;
            }
        }
    }
}