.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.coverSection{
    position: relative;
    width: 100%;

    h1{
        font-family: 'Libre Bodoni', serif;
        font-size: 2.5rem;
        letter-spacing: 0.01em;
        line-height: 3rem;
    }
    
    p{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.125rem;
    }
}

.coverSection .coverPanel1{
    position: relative;
    width: 100%;

    img{
        width: 55%;
        height: auto;
    }
}

.coverSection .coverPanel1 .coverText{
    position: absolute;
    display: inline-block;
    top: 10%;
    left: 51%;
}

.coverSection .coverPanel2{
    width: 47%;
    position: absolute;
    right: 0;
    bottom: 0;

    img{
        width: 100%;
        height: auto;
    }
}

.coverSection .coverPanel2 .coverText{
    position: absolute;
    display: inline-block;
    top: 83%;
    left: 5%;
    color: #fff;
}

.coverSection .carousel{
    margin-top: 13%;
    margin-left: 5%;
}

@media screen and (max-width: 1350px) {
    .coverSection .coverPanel2 .coverText{
        top: 80%;
    }
}

@media screen and (max-width: 1100px) {
    .coverSection .coverPanel2 .coverText{
        top: 76%;
    }

    .coverSection{
        h1{
            font-size: 2.125rem;
        }

        p{
            font-size: 1.125rem;
        }
    }

    .coverSection .carousel{
        margin-left: 2.5%;
    }
}

@media screen and (max-width: 1100px) {
    .coverSection .coverPanel2{
        z-index: 100;
    }

    .coverSection .coverPanel2 .coverText{
        top: 70%;
    }

    .coverSection .carousel{
        margin-left: 0%;
    }
}

@media screen and (max-width: 728px) {
    .coverSection{
        h1{
            font-size: 2.5rem;
        }

        p{
            font-size: 1.4rem;
        }
    }

    .coverSection .coverPanel1{
        img{
            width: 100%;
            height: auto;
        }
    }

    .coverSection .coverPanel1 .coverText{
        position: relative;
        bottom: 50px;
        left: 5%;
    }

    .coverSection .coverPanel2{
        width: 75%;
        position: static;
        margin-top: 1.5rem;

        img{
            width: 100%;
            height: auto;
        }
    }

    .coverSection .coverPanel2 .coverText{
        position: relative;
        bottom: 50px;
        left: 50%;
        color: #000;
    }

    .coverSection .carousel{
        margin-top: 2.5rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .coverSection{
        h1{
            font-size: 1.75rem;
        }

        p{
            font-size: 1rem;
        }
    }

    .coverSection .coverPanel1 .coverText{
        bottom: 45px;
        left: 5%;
    }

    .coverSection .coverPanel2 .coverText{
        left: 35%;
    }
}