.container{
    width: 100%;
    margin-top: 12rem;

    .emailTitle{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto 2.5rem;

        div{
            margin-left: 4rem;
        }

        h1{
            font-family: 'Libre Bodoni', serif;
            font-size: 3.125rem;
        }

        p{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 1rem;
        }
    }

    .splitPanel{
        display: flex;

        .left{
            width: 50%;
            background-color: #f6f6f6;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
    
            div{
                padding: 5.5rem 0;
                margin: 0 6rem 0 auto;
                max-width: 600px;
                display: flex;
                align-items: center;
                justify-content: right;
    
                form{
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 1rem;
                    line-height: 1.5rem;
    
                    label{
                        color: #77808B;
                        margin-bottom: 5px;
                    }
    
                    label ~ label{
                        margin-top: 15px;
                    }
    
                    .textEntry{
                        color: #000;
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        padding: 0.5rem;
                        border: 1px solid #c4cbd3;
                        border-radius: 6px;
    
                        &::placeholder{
                            color: #A2A9B0;
                        }
                    }
    
                    textarea{
                        resize: none;
                        height: 6rem;
                    }
    
                    select{
                        color: #A2A9B0;
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        padding: 0.5rem;
                        border: 1px solid #c4cbd3;
                        border-radius: 6px;
                    }
                }
            }
        }
    
        .right{
            width: 50%;

            .rightContent{
                max-width: 650px;
                padding: 3rem;

                h1{
                    font-family: 'Libre Bodoni', serif;
                    font-size: 3.125rem;
                    margin-bottom: 1.5rem;
                }

                p{
                    font-family: 'Noto Sans KR', sans-serif;
                    font-size: 1rem;
                    margin-bottom: 2.5rem;
                }

                .sendButton{
                    cursor: pointer;
                    background-color: #FDF050;
                    border: none;
                    border-radius: 8px;
                    padding: 0.8rem 2.8rem;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 4rem;

                    &:disabled{
                        cursor: not-allowed;
                    }
                }

                .socialButtons{
                    display: flex;
                    justify-content: space-between;
                    //padding-left: 12rem;
                    padding-left: 20%;

                    span{
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 1rem;
                    }

                    a{
                        border: none;
                        background-color: transparent;
                        margin-bottom: 0.6rem;
                    }

                    .socialSet{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        img{
                            max-width: 4rem;
                            height: auto;
                        }
                    }
                }

            }

        }
    }
}

.modal {
    //max-height: 60vh;
    //overflow-y: scroll;
    position: fixed;
    max-width: 1440px;
    z-index: 1040;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -ms-overflow-style: none;  /* escondendo a scrollbar no IE e Edge */
    scrollbar-width: none;  /* escondendo a scrollbar no Firefox */
}
  
.modal::-webkit-scrollbar{
    display: none; /* escondendo a scrollbar no Chrome, Safari e Opera */
}
  
.backdrop {
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modalMessage{
    padding: 3rem 4rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.buttonClose{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 85%;
    left: 100%;
    color: red;
}

@media screen and (max-width: 728px) {

}