.container{
    width: 100%;
    margin-top: 7rem;

    .footer{
        background-color: #f6f6f6;

        .footerContent{
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            padding: 4rem 0;

            a{
                text-decoration: none;
                color: #000;
            }

            h1{
                font-family: 'Libre Bodoni', serif;
                font-size: 1.875rem;
                margin-bottom: 1rem;
            }

            p, li{
                font-family: 'Noto Sans', sans-serif;
                font-size: 1rem;
                line-height: 2rem;     
            }

            li{
                list-style-type: none;
            }

            .sns{
                margin-right: 8rem;
            }
        }
    }

    .copyright{
        max-width: 1440px;
        margin: 1.5rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1rem;
        color: #424141;

        span{
            color: #000;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 728px) {
    .container{
        display: none;
    }
}