.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDF050;
}

.navbar{
    position: relative;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;

    a{
        display: inline-block;
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        color: #000;
        font-size: 1rem;
        letter-spacing: 0.01em;
        line-height: 1.2rem;
        margin: 0 20px;
        text-align: center;
        transition: all 0.3s;
    }
}

.navbar .navbarWide a{
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s;
}

.navbar .navbarWide a:hover{
    text-decoration-color: #000;
}

.navbar .navbarTitle{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} 

.navbar .navbarTitle .title{
    font-family: keepCalmMedium;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 500;
} 

.navbar .navbarIcon{
    display: none;
}

.navbar .navbarIcon .hamburguer{
    cursor: pointer;
    margin: 0 30px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.navbar .navbarIcon .navbarOpen{

    ul{
        margin-bottom: 2.5rem;
    }

    li{
        list-style-type: none;
        margin: 0 1.5rem;
        text-align: center;
        margin: 0;

        a{
            font-size: 1.5rem;
            text-decoration: none;
            display: block;
            padding: 2rem 0;
        }
    }


}

.navbar .navbarIcon .navbarClosed{
    display: none;
}

.navbar .navbarMenu{
    z-index: 100;
    width: 100%; 
    background-color: #FDF050;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(100%);
    max-height: 0;
    overflow: hidden;
    -webkit-transition:height, 0.6s linear;
    -moz-transition: height, 0.6s linear;
    -ms-transition: height, 0.6s linear;
    -o-transition: height, 0.6s linear;
    transition: height, 0.6s linear;
}

.navbar .navbarMenu.active{
    max-height: 1000px;
    -webkit-transition:height, 0.6s linear;
    -moz-transition: height, 0.6s linear;
    -ms-transition: height, 0.6s linear;
    -o-transition: height, 0.6s linear;
    transition: height, 0.6s linear;   
}

.navbar .navbarMenu ul{
    margin-bottom: 2.5rem;
}

.navbar .navbarMenu ul li{
    list-style-type: none;
    margin: 0 1.5rem;
    text-align: center;
    margin: 0;
}

.navbar .navbarMenu ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    padding: 2rem 0;
}

.navbar .navbarMenu hr{
    width: 80%;
    background-color: #FDF050;
    border: 0;
    border-top: 1px solid black;
    margin-bottom: 2rem;
}

.navbarSocials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

@media screen and (max-width: 728px) {
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }

    .navbar .navbarWide{
        display: none;
    }

    .navbar .navbarTitle{
        position: relative;
        left: 0;
        transform: translateX(0);
    } 
    
    .navbar .navbarTitle .title{
        font-family: keepCalmMedium;
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 500;
        margin: 0;
    }

    .navbar .navbarIcon{
        display: block;
    }

    .navbar .navbarIcon .hamburguer{
        margin: 0;
    }

}


