.container{
    background-color: #f6f6f6;
}

.content{
    max-width: 1440px;
    margin: 0 auto;
    padding: 7rem 0 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button{
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-radius: 8px;
        padding: 0 0.5rem;
    }

    h1{
        font-family: 'Libre Bodoni', serif;
        font-size: 2.815rem;
        font-weight: 400;
    }

    span{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.125rem;
    }

    p{
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.125rem;
    }

    h3{
        display: none;
    }
}

.title{
    margin-bottom: 1.5rem;
}

.title p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.125rem;
    display: none;
}

.categories{
    margin-top: 1.5rem;
    max-width: 900px;
    text-align: center;

    button{
        margin: 0 1.5rem 1.5rem;
    }

    p{
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: all 0.3s;
    }

    p:hover{
        text-decoration-color: #000;
    }
}

.isSelected{
    background-color: #FDF050 !important;
    text-decoration: underline;
}

@media screen and (max-width: 728px) {
    .title p{
        display: block;
        font-size: 1rem;
    }

    .title span{
        display: none;
    }

    .title h1{
        font-size: 2rem;
    }

    .content{
        padding: 5rem 0 2rem;
    }

    .categories{
        padding: 0 1.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .categories button{
        margin: 0 0.5rem 1.5rem
    }
    
    .categories p{
        display: none;
    }

    .categories h3{
        display: initial;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: 400;
    }

    .categories #uiuix{
        display: initial;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1rem;
        font-weight: 400;
    }
}