.titleSection{
  width: 100%;
  max-width: 1440px;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  span{
    font-size: 2.815rem;
  }

  div{
    margin: 1rem 0;
  }

  a{
    margin: 0 2.125rem;
    text-decoration: none;
    color: #000;
    font-family: 'Libre Bodoni', serif;
    font-size: 2.815rem;
    padding: 0 5px;
    background-image: linear-gradient(45deg,
      transparent 0%,
      transparent 50%,
      #FDF050 50%,
      #FDF050 100%);
    background-size: 300%;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
      color .2s linear;
    transition-delay: 0.05s, 0.5s;

    &:hover{
      background-position: -50% 100%;
    }

    span{
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 1.125rem;
    }
  }
}

.portfolioSection{
  max-width: 1440px;
  width: 100%;
  margin: 12rem auto;
}

.portfolioSection .portfolioTitle{
  margin-left: 4rem;
  margin-bottom: 2.5rem;

  a{
    text-decoration: none;
    color: #000;
  }

  h1{
    font-family: 'Libre Bodoni', serif;
    font-size: 3.125rem;
  }

  p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
  }
}

.portfolioSection .seeMore{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  button{
    cursor: pointer;
    background-color: transparent;
    border: none;

    h1{
      font-family: 'Libre Bodoni', serif;
      font-size: 1.5rem;
      text-decoration: underline;
    }

    p{
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 1rem
    }
  }
}

.clientSection{
  width: 100%;
}

.clientSection .clientTitle{
  max-width: 1440px;
  margin: 0 auto;

  div{
    text-align: right;
    margin-bottom: 2.5rem;
    margin-right: 4rem;

    h1{
      font-family: 'Libre Bodoni', serif;
      font-size: 3.125rem;
    }
  
    p{
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 1rem;
    }
  }
}

.clientSection .clientBanner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 6rem 0;

  img{
    width: 100%;
    max-width: 1440px;
  }
}

.modal {
  position: fixed;
  max-width: 1440px;
  z-index: 1040;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) scale(1.53);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.8;
}

.modal .modalDiv .detailDiv{
  max-height: 60vh;
  overflow: auto;
}

.detailDiv::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.detailDiv::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 10px;
  height: calc(100% - 20px);
}

.detailDiv::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.detailDiv::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.buttonClose{
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 97.65%;
  left: 100.15%;
  color: #fff;
}

@media screen and (max-width: 1250px) {
  .titleSection{
    padding: 8rem 0;
  }

  .titleSection span{
    font-size: 2.125rem;
  }

  .titleSection a{
    font-size: 2.125rem;
    margin: 0 1.6rem;
  }
}

@media screen and (max-width: 950px) {
  .titleSection{
    padding: 6rem 0;
  }

  .titleSection span{
    font-size: 1.815rem;
  }

  .titleSection a{
    font-size: 1.815rem;
    margin: 0 0.5rem;
  }

  .titleSection a span{
    font-size: 1rem;
  }
}

@media screen and (max-width: 728px) {
  .titleKr{
    display: none;
  }

  .titleSection{
    padding: 4rem 2rem;
    
    span, a{
      font-size: 1.5rem;
    }

    a{
      margin: 0 1rem;
    }
  }

  .portfolioSection{
    margin: 4.5rem auto;
  }

  .portfolioSection .portfolioTitle{
    margin-left: 0;
    text-align: center;
    margin-bottom: 2rem;
  
    h1{
      font-size: 1.5rem;
    }

    p{
      font-size: 0.8rem;
    }
  }

  .portfolioSection .seeMore{
    margin-top: 2rem;
  
    button{  
      h1{
        font-size: 0.75rem;
      }
  
      p{
        font-size: 0.6rem
      }
    }
  }

  .clientSection{
    padding-top: 2.5rem;
    background-color: #f6f6f6;
  }

  .clientSection .clientTitle{
    div{
      text-align: center;
      margin-bottom: 2rem;
      margin-right: 0;
  
      h1{
        font-size: 1.5rem;
      }

      p{
        font-size: 0.8rem;
      }
    }
  }

  .clientSection .clientBanner{
    padding: 0.5rem 0 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .titleSection{
    padding: 3rem 1rem;
    
    span, a{
      font-size: 1.5rem;
    }
  } 
}

@media screen and (max-width: 520px) {
  .titleSection{
    padding: 2.5rem 1rem;
    
    span, a{
      font-size: 1.15rem;
    }

    a{
      margin: 0 0.5rem;
    }
  } 
}

@media screen and (max-width: 390px) {
  .titleSection{
    padding: 2rem 0.5rem;
    
    span, a{
      font-size: 1.05rem;
    }

    a{
      margin: 0 0.5rem;
    }
  } 
}

@media screen and (max-width: 350px) {
  .titleSection{
    padding: 1.75rem 0.25rem;
    
    span, a{
      font-size: 1rem;
    }

    a{
      margin: 0 0.25rem;
    }
  } 
}
