.modal {
    position: fixed;
    max-width: 1440px;
    z-index: 1040;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) scale(1.53);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
  
.backdrop {
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.8;
}
  
.detailDiv{
    max-height: 60vh;
    overflow: auto;
}
  
.detailDiv::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

.detailDiv::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 10px;
    height: calc(100% - 20px);
  }
  
  .detailDiv::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }
  
  .detailDiv::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
  
.buttonClose{
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 97.65%;
    left: 100.15%;
    color: #fff;
}

.seeMore{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    button{
        cursor: pointer;
        background-color: transparent;
        border: none;

        h1{
        font-family: 'Libre Bodoni', serif;
        font-size: 1.5rem;
        text-decoration: underline;
        }

        p{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1rem
        }
    }
}

.socialSection{
    display: none;
}

@media screen and (max-width: 728px) {
    .seeMore{
        margin-top: 2rem;
        margin-bottom: 4rem;
      
        button{  
          h1{
            font-size: 0.75rem;
          }
      
          p{
            font-size: 0.6rem
          }
        }
    }

    .socialSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 4rem 0;

        img{
            max-width: 50px;
            height: auto;
        }
    
        span{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 0.9rem;
        }
    }
}
